@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Lobster', cursive;
    background-color: rgb(0, 0, 0);
    color: white;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        color: aqua;
        text-shadow: 5px 3px 5px rgb(25, 231, 231);
        font-size: 2.5rem;
    }

    .nav-item {
        --bs-nav-link-color: white;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10px;
    }

    #login>.nav-link{
        color: aqua;
    }

    #login:hover a{
        color: black;
        font-weight: bolder;
    }

    #login:hover{
        background-color: aqua;
        box-shadow: 0 0 30px 5px aquamarine;
    }

    .nav-link:focus,
    .nav-link:hover {
        /* color: var(--bs-nav-link-hover-color) */
        color: white;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        /* color: var(--bs-navbar-active-color) */
        color: white;
    }
}